.Button {
  border: 1px solid antiquewhite;
  border-radius: 10px;
  margin: 0 20px;
  height: 70%;
  width: 50%;
  font-size: 100%;
  font-weight: bold;
  color: mediumslateblue;
  cursor: pointer;
  text-transform: uppercase;
}

.Button:hover {
  background-color: mediumslateblue;
  color: antiquewhite;
}

.Button:active {
  font-size: 120%;
}

.Button:disabled {
  background-color: rgb(182, 179, 179);
  color: rgb(224, 224, 224);
}
